p {
  font-family: Lato;
}

#video-chat-container {
  display: flex;
  width: 100%;
}

#publisher-container {
  width: 400px;
}

#subscribers-container {
  width: 100%;
}

video-publisher {
  display: block;
  aspect-ratio: 16/9;
}

video-subscribers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  place-items: center;
}

screen-share::part(button) {
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
